{$HOST_IP} {

	tls internal

	handle_path /n8n/* {
		reverse_proxy n8n:5678
	}

	handle_path /netdata/* {
		reverse_proxy netdata:19999
	}

	handle_path /portainer/* {
		reverse_proxy portainer:9000
	}

	handle_path /gokapi/* {
		reverse_proxy gokapi:53842
	}

	handle {
		root * /srv
		file_server
	}
}
